<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
</head>
<body>
    <div class="container">
        <nav class="container-item" id="navbar">Nav-Bar</nav>
        <aside class="container-item" id="sidebar"></aside>
        <section class="container-item" id="section">

            <div class="info data1">
                <div class="acc-bal">
                    <h3>Account Balance</h3>
                    <h1>0</h1>
                </div>
                <div class="acc-no">
                    <h3>Account Number</h3>
                    <h1>0</h1>
                </div>
            </div>

            <div class="info data2">
                <div class="invest instr1">
                    <h4>Current FD Rate</h4>
                    <h2>7.1% pa</h2>
                </div>
                <div class="invest instr2">
                    
                </div>
                <div class="invest instr3">
                    <h2>Open a free Trading Account</h2>
                </div>
            </div>

            <div class="info data3">
                <div class="services">
                    <h3>More than traditional banking</h3>
                </div>
                <div class="border"></div>
                <div class="services">
                    <h3>Manage Your Account</h3>
                </div>
            </div>

            <div class="info data4">
                <h3>Transaction Details</h3>
                <div class="transaction-table">
                    <table>
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Transaction Name</th>
                                <th>Type</th>
                                <th>Amount (INR)</th>
                                <th>Date</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

            <div class="info data5">
                <a href="/logout">Logout</a>
            </div>

        </section>
    </div>
</body>
</html>